body {
  font-family: Arial, sans-serif;
  display: flex;
 
  position: relative;
    display: flex;
      flex-direction: column;
      margin: 0;
}

section {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}


svg {
  border: 1px solid #ccc;
  width: 50%;
  height: auto;
  aspect-ratio: 1 / 1;
}

.label {
  font-size: 12px;
  text-anchor: middle;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 3px;
  /* Cell borders */
}

th {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}